<!DOCTYPE html>
<html>
<head>
  
  
</head>

<body>



<div class="container">
    <style>
        p {background-color:<%=rows[0].color %>;
        width:<%=rows[0].width %>px;
        height:<%=rows[0].length %>px;
        border:3px solid black;
        }
        
      </style>
<p ><%=rows[0].name %></p>

<ul>
    
    <% rows.forEach(function(r) { %>
        <li>name:<%= r.name %> <br>color: <%= r.color %> <br>width: <%= r.width %> <br> length:<%= r.length %> 
            <br> is it a square? <%= r.issquare %> <br> is it longer? <%= r.islonger %> <br> 
            is it wider? <%= r.iswider %><br></li>
    <% }); %>
</ul>
<form action="/delete-rectangle" method="post">
    <input type="hidden" name="name" value="<%=rows[0].name %>">
    <input type="submit"value="delete rectangle">
</form>
<form action="/changeRectanglePage" method="post">
    <input type="hidden" name="name" value="<%=rows[0].name %>">
    <input type = "submit" value="change rectangle">
</form>
<form action="/database" >
    <input type = "submit" value="Display All Rectangles">
</form>
</div>

</body>
</html>